<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Email Values-->
    <add key="DBTo" value="ppalepu@siuins.com,fgarrett@siuins.com"/>
    <add key="FileTo" value="ppalepu@siuins.com,fgarrett@siuins.com"/>
    <add key="ErrorTo" value="ppalepu@siuins.com,fgarrett@siuins.com"/>
    <add key="CC" value ="ppalepu@siuins.com,fgarrett@siuins.com"/>
    <add key="From" value="DirectBillImports@siuins.com"/>
    <add key="MailServ" value ="mail.siuins.com"/>
    <!--Path Values-->
    <add key="sPath" value ="C:\Temp\AutoInvoicing\"/>
    <add key="GeoveraPath" value="C:\Temp\AutoInvoicing\USFG\"/>
    <add key="VoyagerPath" value="C:\Temp\AutoInvoicing\Voyager\Import.xls"/>
    <add key="TravelersPath" value="C:\Temp\AutoInvoicing\Travelers\Import.xls"/>
    <add key="AMTrustPath" value="C:\Temp\AutoInvoicing\AMTrust\Import.xls"/>
    <add key="CapitolPath" value="C:\Temp\AutoInvoicing\Capitol\Import.xls"/>
    <add key="HartfordPath" value="C:\Temp\AutoInvoicing\Hartford\Import.xls"/>
    <add key="GeoveraFFBPath" value="C:\Temp\AutoInvoicing\USFG\WholeThingFFB.xls"/>
    <add key="GeoveraNormalPath" value="C:\Temp\AutoInvoicing\USFG\WholeThingNormal.xls"/>
    <add key="GeoveraFilePath" value="\\siuins.com\siu\Process\GeoveraFiles\"/>
    <add key="GeoveraUSFGPath" value="C:\Temp\AutoInvoicing\usfg\"/>
    <add key="GeoveraArchivePath" value="C:\Temp\Archive\"/>
    <add key="SafewayReconciliationPath" value="C:\Temp\AutoInvoicing\SafewayReconciliation\Import.xls"/>
    <add key="NICOPath" value="C:\Temp\AutoInvoicing\NICO\Import.xls"/>
    <add key="SafewayPath" value="C:\Temp\AutoInvoicing\Safeway\Import.xls"/>
    <add key="OccidentalPath" value="C:\Temp\AutoInvoicing\Occidental\Import.xls"/>
    <add key="LogPath" value="C:\Temp"/>

    <add key="FileName" value="C:\Temp\AutoInvoicing\InvoicingStatus.txt"/>
    <add key ="Excel" value ="\\siuops01\c$\Projects\DirectBillImports\DirectBillImports\excelkill.bat"/>
    <add key="FileSave" value ="C:\Temp\AutoInvoicing\"/>
    <!--Carriers List-->
    <add key="Carriers" value="AMTrust,Capitol,Geovera,Hartford,NICO,Occidental,Safeway,SafewayReconciliation,Travelers,Voyager"/>

    <!--Database Connections-->

    <!--DEV-->
    <add key ="CIS" value="Data Source=siu-alp-sql-003;Initial Catalog=CIS;User Id=aimuser;Password=Welcome2@;packet size=4096"/>
    <add key ="ELCID" value="Data Source=devsql01\elcid;Initial Catalog=AutoInvoicing;User Id=devwebuser;Password=$iuins0987;packet size=4096"/>
    <add key ="SunSubmit" value="Data Source=devsql01\elcid;Initial Catalog=SunSubmit_NewAIM;User Id=devwebuser;Password=$iuins0987;packet size=4096"/>

  </appSettings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog"
           type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
           initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="Direct Bill Import"/>
    </sharedListeners>
  </system.diagnostics>
</configuration>